{% load static %}
<!-- Page Content -->
<div class="container">
    <div class="services-bar">
        <h1 class="my-4">{{ category.title}}</h1>
        <!-- Services Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Etkinlikler</h4>
                    <div class="card-img">
                        <img class="img-fluid" src="{% static 'images/services-img-01.jpg' %}" alt="" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">Yaklaşan etkinlikler</p>
                    </div>
                    <div class="card-footer">
                        <a href="/category/8/etkinlikler" class="btn btn-primary"> Tıklayınız...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Duyurular</h4>
                    <div class="card-img">
                        <img class="img-fluid" src="{% static 'images/services-img-02.jpg' %}" alt="" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">Yaklaşan duyurular</p>
                    </div>
                    <div class="card-footer">
                        <a href="/category/7/duyurular" class="btn btn-primary">Tıklayınız...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Haberler</h4>
                    <div class="card-img">
                        <img class="img-fluid" src="{% static 'images/services-img-03.jpg' %}" alt="" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">Yeni haberler</p>
                    </div>
                    <div class="card-footer">
                        <a href="/category/6/haberler" class="btn btn-primary">Tıklayınız...</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- About Section -->
    <div class="about-main">
        <div class="row">
            <div class="col-lg-8">
                <h2>Hoşgeldiniz </h2>
                <p>{{ setting.aboutus | safe  }}</p>

            </div>
            <div class="col-lg-4">
                <img class="img-fluid rounded" src="{% static 'images/about-img.jpg' %}" alt="" />
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- Portfolio Section -->
    <div class="portfolio-main">
        <h2>Son haberler</h2>
        <div class="row">
            {% for rs in lasthaber %}



                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <img src="{{ rs.category.image.url }}" alt="" />
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a>
                            </h4>
                            <p class="card-text">{{ rs.desc }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}


        </div>
        <!-- /.row -->
    </div>
    <hr>

</div>
<!-- /.container -->