{% load static %}
<!--footer starts from here-->
    <footer class="footer">
        <div class="container bottom_border">
            <div class="row">
               <div class="col-lg-3 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">İletişim</h5>
					<!--headin5_amrc-->
					<p class="mb10">{{ setting.adress}}</p>
					<p><i class="fa fa-location-arrow"></i> {{ setting.phone}} </p>
					<p><i class="fa fa-phone"></i> {{ setting.fax}} </p>
					<p><i class="fa fa fa-envelope"></i> {{ setting.email}} </p>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">Bizi takip edin</h5>
					<!--headin5_amrc ends here-->
					<ul class="footer_ul2_amrc">
						<li>
							<a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
							<p>Facebook <a href="{{ setting.facebook }}">{{ setting.facebook }}</a></p>
						</li>
						<li>
							<a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
							<p>İnstagram <a href="{{ setting.instagram }}">{{ setting.instagram }}</a></p>
						</li>
						<li>
							<a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
							<p>Twitter <a href="{{ setting.twitter }}">{{ setting.twitter }}</a></p>
						</li>
					</ul>
					<!--footer_ul2_amrc ends here-->
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h5 class="headin5_amrc col_white_amrc pt2">Hızlı Linkler</h5>
					<!--headin5_amrc-->
					<ul class="footer_ul_amrc">
						<li><a href="/hakkimizda">Hakkımızda</a></li>
						<li><a href="/">Anasayfa</a></li>
						<li><a href="/bagiscilar">Bağışcılarımız</a></li>
						<li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a></li>
						<li><a href="/iletisim">İletişim</a></li>
						<li><a href="/user">Hesabım</a></li>
					</ul>
					<!--footer_ul_amrc ends here-->
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 ">
					<h5 class="headin5_amrc col_white_amrc pt2">Recent posts</h5>
					<!--headin5_amrc-->
					<ul class="footer_ul_amrc">
						<li class="media">
							<div class="media-left">
								<img class="img-fluid" src="{% static 'images/post-img-01.jpg' %}" alt="" />
							</div>
							<div class="media-body">
								<p>How to find best dog food?</p>
								<span>22 Sep 2018</span>
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<img class="img-fluid" src="{% static 'images/post-img-02.jpg' %}" alt="" />
							</div>
							<div class="media-body">
								<p>How to find best dog food?</p>
								<span>34 Sep 2018</span>
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<img class="img-fluid" src="{% static 'images/post-img-03.jpg' %}" alt="" />
							</div>
							<div class="media-body">
								<p>How to find best dog food?</p>
								<span>30 Sep 2018</span>
							</div>
						</li>
					</ul>
					<!--footer_ul_amrc ends here-->
				</div>
			</div>
		</div>
        <div class="container">
            <div class="footer-logo">
				<a href="#"><img src="{% static 'images/footer-logo.png' %}" alt="" /></a>
			</div>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="copyright text-center">Tüm Hakları Saklıdır &copy; 2020 <a href="/">Django Derneği</a> Design By :
				<a href="{{ setting.instagram }}">Süleyman Altunakar</a>
            </p>

        </div>
    </footer>

<!-- Bootstrap core JavaScript -->

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>