{% extends "Homebase.html" %}

{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block author %} {{ setting.keywords }} {% endblock %}

{% block head %} <link rel='shortcut icon' type='image/x-icon' href={{ setting.icon.url }} /> {% endblock %}



{% block body %}


    <!-- Page Content -->
    <div class="container">
        <div class="breadcrumb-main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active">Hakkımızda</li>
            </ol>
        </div>
        <!-- About Content -->
        <div class="about-main">
            <div class="row">
                <img src="{{ icerik.image.url }}" height="300" align="left" style="padding: 10px;border-radius: 25px;border: 30px">
                {{ content.detail|safe }}
                <hr>
                {% for rs in images %}

                    <img src="{{ rs.image.url }}" height="200" alt="">

                {% endfor %}
            </div>
            <!-- /.row -->
        </div>


{% endblock %}