{% extends "Homebase.html" %}

{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block author %} {{ setting.keywords }} {% endblock %}

{% block head %} <link rel='shortcut icon' type='image/x-icon' href={{ setting.icon.url }} /> {% endblock %}



{% block body %}


    <!-- Page Content -->
    <div class="container">
		<div class="breadcrumb-main">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Anasayfa</a>
				</li>
				<li class="breadcrumb-item active">İletişim</li>
			</ol>
		</div>
			<div class="row">
				<div class="col-lg-4">
					<h3>Bize Ulaşın !</h3>

                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" id="sendMessageButton">
                </form>


				</div>
                <div class="col-lg-8">
					{{ setting.contact | safe  }}
				</div>
			</div>
			<!-- /.row -->
		</div>


        {% endblock %}