{% load static %}
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static '/images/logo.png' %}" alt="logo"/>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hakkimizda">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bagiscilar">Bağışcılarımız</a>
                </li>


                {% load mptt_tags %}

                {% recursetree category %}


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  id="navbarDropdownPortfolio"} data-toggle="dropdown" aria-haspopup="true"  aria-expanded="true" href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }} </a>

                        {% if not node.is_leaf_node %}


                            <ul class="children">
                                <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdownPortfolio" >
                                    <a class="dropdown-item" href="/category/{{ node.id }}/{{node.slug }}">{{ children }} </a>
                                </div>
                            </ul>
                        {% endif %}


                    </li>

                {% endrecursetree %}


                <li class="nav-item">
                    <a class="nav-link" href="/iletisim">İletişim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/üye">Üye girişi</a>
                </li>
<li>
            <form action="/search/" class="col-xs-6 visible-xs" >
                {% csrf_token %}
      <input id="query" name="query" class="input search" type="text" placeholder="Enter your keyword">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
            </li>
            </ul>
        </div>
    </div>
</nav>